<div class="nav navbar-nav panel panel-default">
       
    <div class="panel-heading">
      {{element.name}}</div>
    <div class="panel-body"> 
      <ng-content></ng-content>  
      <!-- ng-content is used to project content into component -->
      <!-- <p>   // we are replacing this commented content in app compoenet
       <strong *ngIf="element.type==='server'" style="color:chocolate">
    {{element.desc}}
     </strong>
    <em  *ngIf="element.type==='blue'" > 
    {{element.desc}}
    </em>
</p> -->
</div>
</div>